apiVersion: v1
kind: Pod
metadata:
  name: ${POD_NAME}
  namespace: ${NAMESPACE}
spec:
  serviceAccountName: ${SERVICE_ACCOUNT}
  containers:
  - name: flink-cli
    image: ${IMAGE}
    imagePullPolicy: IfNotPresent
    command: ["sleep", "infinity"]
